<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Using Views in iModel.js - iModel.js</title>
    <meta name="og:title" content="Using Views in iModel.js - iModel.js">
    <meta name="twitter:title" content="Using Views in iModel.js - iModel.js">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://imodeljs.github.io/iModelJs-docs-output//styles/bundle.css">

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
    
    <link rel="stylesheet" type="text/css" href="https://imodeljs.github.io/iModelJs-docs-output//styles/devRegistration.css"> 
    
    <link rel="stylesheet" type="text/css" href="https://imodeljs.github.io/iModelJs-docs-output//styles/landingPage.css">  
        <link rel='shortcut icon' type='image/x-icon' href='https://imodeljs.github.io/iModelJs-docs-output//landing-page/assets/imodeljs_16.png' /> 
        <meta property="og:description" content="Create Immersive Connections with your Infrastructure Digital Twin."><meta property="og:url" content="imodeljs.org"><meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="https://imodeljs.github.io/iModelJs-docs-output//landing-page/assets/twitter-share.png">
        <meta />
</head>

<body data-site-root=https://imodeljs.github.io/iModelJs-docs-output// class='layout-index '>
    <span id="contentLoader">
        <p>Woah! This page has a great deal of content... Give us a second to load it.</p>
    </span>
    <span id="contentLoaderBackground"></span>
    <div id="flex-wrapper">



        <header id="main-header">
            <div class='nav-header-container'>
                <nav class="navbar nav-main-header navbar-expand-md fixed-top navbar-light pb-0">
                    <a href="https://imodeljs.github.io/iModelJs-docs-output//" class="navbar-brand">
                            <img id="site-logo" class="site-logo" src="https://imodeljs.github.io/iModelJs-docs-output//landing-page/assets/imodeljs-logo.svg" /> 
                            <img id="site-logo-small" class="site-logo-small" src="https://imodeljs.github.io/iModelJs-docs-output//landing-page/assets/imodeljs-icon.svg" style="display:none;"/> 
                    </a>
                    <button class="navbar-toggler no-user-select mr-auto" type="button" data-toggle="collapse" data-target="#navbar5">
                        <span class="navbar-toggler-header"></span>
                    </button>
                    <ul class="navbar-nav ml-auto pr-0 nav-search">
                        <span class='search-bar'>
                          <li>
                            <div id='search-container'>
                            </div>
                          </li>
                          <script>
                            (function() {
                              var cx = '018053174497532353467:v_gnrjjlqwc';
                              var gcse = document.createElement('script');
                              gcse.type = 'text/javascript';
                              gcse.async = true;
                              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                              var s = document.getElementsByTagName('script')[0];
                              s.parentNode.insertBefore(gcse, s);
                            })();
                          </script>
                          <gcse:searchresults-only gname="sitesearch" resultSetSize="7"></gcse:search>
                        </span>
                    </ul>
                    <div class="navbar-collapse collapse justify-content-stretch" id="navbar5">
                        <ul class="navbar-nav mb-0" id="doc-site-tabs">
                                <li class="nav-item "><a class="nav-link" href="https://imodeljs.github.io/iModelJs-docs-output//getting-started">Getting Started</a></li><li class="nav-item "><a class="nav-link" href="https://imodeljs.github.io/iModelJs-docs-output//bis">BIS</a></li><li class="nav-item active"><a class="nav-link" href="https://imodeljs.github.io/iModelJs-docs-output//learning">Learning</a></li><li class="nav-item "><a class="nav-link" href="https://imodeljs.github.io/iModelJs-docs-output//reference">API Reference</a></li><li class="nav-item change-history-tab "><a class="nav-link" href="https://imodeljs.github.io/iModelJs-docs-output//changehistory">v1.4.0</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
<div id='main-wrapper'>
    <nav id='sidebar'>
        <div id='table-of-contents' class="custom-scrollbar">
            <div id="dismiss">
                <i id="dismiss-arrow" class="icon icon-chevron-left no-user-select"></i>
            </div>
            <hr id="dismiss-hr" class='sm-only'>
            <ul id='main-navigation-list'>
                <html><head></head><body><h3 id="the imodel.js library"><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/" class="table-of-contents-link">The iModel.js Library</a></h3>
    <ul>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/frontend/" class="table-of-contents-link">Frontend</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/backend/" class="table-of-contents-link">Backend</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/common/" class="table-of-contents-link">Common</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/geometry/" class="table-of-contents-link">Geometry</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/presentation/" class="table-of-contents-link">Presentation</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/ui/" class="table-of-contents-link">UI</a></li>
    </ul>
    <hr>
    <p>&#xA0;</p>
    <h3 id="helpful links">Helpful links</h3>
    <ul>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/ecsql" class="table-of-contents-link">ECSQL</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/imodelhub/" class="table-of-contents-link">iModelHub</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/wireformat" class="table-of-contents-link">Wire Format</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/faq" class="table-of-contents-link">Frequently Asked Questions</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/guidelines/" class="table-of-contents-link">Guidelines and Tips</a></li>
    <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/glossary" class="table-of-contents-link">Glossary</a></li>
    </ul>
    </body></html>
            </ul>
        </div>
    </nav>    <div class='documentation-main'>
        <article id="main" class="main-content">
            <button type="button" id="sidebarCollapse" class="no-user-select"> <i class="bread-crumb-label bread-crumb-expand-leftnav icon icon-chevron-right no-user-select" id="expand-leftnav"></i></button><div class='bread-crumb-label'><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/">Learning</a> > <a href="https://imodeljs.github.io/iModelJs-docs-output//learning/frontend/">frontend</a> > Views</div>
            <div class="edit-link"><a href="https://github.com/imodeljs/imodeljs/tree/master/docs/learning/frontend/Views.md">Edit this page</a></div>
            <h1 id="using views in imodel.js">Using Views in iModel.js</h1>
<p>A <em>View</em> renders geometry from one or more <a href='https://imodeljs.github.io/iModelJs-docs-output//./bis/intro/model-fundamentals'>Models</a> of an iModel in a web browser. iModel.js applications can embed and interact with Views anywhere on a web page via an <code>HTMLDivElement</code>.</p>
<p>Views are managed by the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager'>ViewManager</a> class, using <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelapp/imodelapp/#viewmanager'>IModelApp.viewManager</a>.</p>
<p>Multiple Views may be simultaneously visible on the same web page, each with their own HTMLDivElement, and are coordinated by the ViewManager.</p>
<h2 class="h-viewdefinition-elements">ViewDefinition Elements<a id="viewdefinition-elements" class="heading-anchor" href="#viewdefinition-elements"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>A <em>View</em> is saved in an iModel as an element of the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/viewdefinitions/viewdefinition'>ViewDefinition</a> class. ViewDefinitions hold all the information necessary to show the same content across sessions.
This includes the camera position, the model(s) displayed, the CategorySelector, the DisplayStyle to use, plus any additional view-specific settings.</p>
<h2 class="h-the-viewstate-class">The ViewState Class<a id="the-viewstate-class" class="heading-anchor" href="#the-viewstate-class"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>The <code>ViewDefinition</code> classes (in fact all <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/elements/element'>Element</a> classes) exist only on the backend, because their purpose is to read and write those elements to/from the iModel.
On the frontend, access to the elements needed to display views is provided by the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/elementstate/elementstate'>ElementState</a> classes. The ElementState classes only hold the <em>state</em> of elements, not
the methods to read and write elements from the database.</p>
<p>Views are opened by loading a ViewDefinition into a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewstate'>ViewState</a> object. They begin showing the content as it was saved in the iModel, but users may
modify what they&apos;re seeing using <a href="#viewing-tools">Viewing tools</a>. These changes are only temporary (in-memory) unless they are saved back to the iModel
via <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/imodels/imodeldb.elements/updateelement'>IModelDb.Elements.updateElement</a>.</p>
<p>An instance of a <code>ViewState</code> in memory holds references to several other objects, including a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/categoryselectorstate'>CategorySelectorState</a>, a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/displaystyle3dstate'>DisplayStyle3dState</a>,
and a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/modelselectorstate'>ModelSelectorState</a> (for <code>SpatialViews</code>). Since each of these objects must be loaded in the frontend asynchronously, there is an
async method called <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelconnection/imodelconnection.views/#load'>IModelConnection.Views.load</a> that returns a promise when the <code>ViewState</code> and all other State objects required to display a
View are ready. The <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewport'>Viewport</a> class expects loaded ViewState objects.</p>
<h2 class="h-types-of-viewdefinitions">Types of ViewDefinitions<a id="types-of-viewdefinitions" class="heading-anchor" href="#types-of-viewdefinitions"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>There are subclasses of <code>ViewDefinition</code> to show different types of Models in various ways.</p>
<p>Here are several significant subclasses:</p>
<ul>
<li><code>ViewDefinition</code><ul>
<li><code>SpatialViewDefinition</code> - shows a view of one or more 3d SpatialModels</li>
<li><code>DrawingViewDefinition</code> - shows a view of a <em>single</em> 2d DrawingModel</li>
<li><code>SheetViewDefinition</code> - shows a view of a <em>single</em> 2d SheetModel</li>
</ul>
</li>
</ul>
<p>For each subclass of <code>xxxViewDefinition</code>, there is a corresponding <code>xxxViewState</code> class in the frontend.</p>
<h2 class="h-using-viewports">Using Viewports<a id="using-viewports" class="heading-anchor" href="#using-viewports"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewstate'>ViewState</a> objects hold the state of a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/viewdefinitions/viewdefinition'>ViewDefinition</a> (<em>what</em> is shown in a View) in the frontend.</p>
<p><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewport'>Viewport</a> is an abstract class that connects a ViewState to a RenderTarget.</p>
<p>To connect a ViewState to a rectangular region on a web page, create instances of the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/screenviewport'>ScreenViewport</a> class. The method <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/screenviewport/create'>ScreenViewport.create</a> takes an <code>HTMLDivElement</code> and a
(fully loaded) ViewState. In this manner, ScreenViewport forms the connection between a rectangular region on your web page (a &quot;div&quot;) and a set of
Models in an iModel, a display <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/views/frustum'>Frustum</a>, a DisplayStyle, and the rendering system.</p>
<blockquote>
<p>Note: before creating a ScreenViewport, be sure to call <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelapp/imodelapp/startup'>IModelApp.startup</a>.</p>
</blockquote>
<h2 class="h-loading-views-from-an-imodel">Loading Views from an iModel<a id="loading-views-from-an-imodel" class="heading-anchor" href="#loading-views-from-an-imodel"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>There is a method called <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelconnection/imodelconnection.views/getviewlist'>IModelConnection.Views.getViewList</a> that returns an array of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelconnection/imodelconnection.viewspec'>IModelConnection.ViewSpec</a>s in a convenient
format for User Interfaces. This can be used to present a list of possible views by name in a List.</p>
<p>For example, to get a list of all spatial views:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Get a list of Spatial views from an iModel. */
  public static async getSpatialViews(): Promise&lt;IModelConnection.ViewSpec[]&gt; {
    return this._iModel.views.getViewList({ from: SpatialViewState.classFullName });
  }</code></pre>
<p>To get a list of all drawing views:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Get a list of all Drawing views from an iModel. */
  public static async getDrawingViews(): Promise&lt;IModelConnection.ViewSpec[]&gt; {
    return this._iModel.views.getViewList({ from: DrawingViewState.classFullName });
  }</code></pre>
<p>Once a view is selected from the list, it may be loaded with:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Stub for a real UI that would present the user with the list and choose one entry */
  public static async pickView(views: IModelConnection.ViewSpec[]): Promise&lt;string&gt; {
    // ...real ui code here showing view[].name list, returning chosenView...
    const chosenView = 0;

    // return the id of the chosen view
    return views[chosenView].id;
  }

  /** Load the list of spatial views from our iModel, let the user pick one, and return a Promise for the ViewState of the selected view. */
  public static async loadOneView(): Promise&lt;ViewState&gt; {
    // first get the list of spatial views
    const views: IModelConnection.ViewSpec[] = await this.getSpatialViews();

    // ask the user to pick one from the list, returning its Id
    const viewId: string = await this.pickView(views);

    // return a promise for the ViewState of the selected view. Note that caller will have to await this method
    return this._iModel.views.load(viewId);
  }</code></pre>
<p>Then, you may wish to change one of the existing views to show the contents of the now-loaded view. For example, to switch the
<a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager/#selectedview'>ViewManager.selectedView</a> to show it, use code like:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Show a list of spatial views, allow the user to select one, load its ViewState, and then change the selected ScreenViewport to show it. */
  public static async showOneView(): Promise&lt;void&gt; {
    const viewstate = await this.loadOneView();
    const vp = IModelApp.viewManager.selectedView;
    if (undefined !== vp)
      vp.changeView(viewstate);
  }</code></pre>
<blockquote>
<p>Note that in the examples above, <code>getSpatialViews</code>, <code>loadOneView</code>, and <code>showOneView</code> are <code>async</code>, and you must <code>await</code> them.</p>
</blockquote>
<h2 class="h-changing-the-model-displayed-by-a-2d-view">Changing the Model displayed by a 2d view<a id="changing-the-model-displayed-by-a-2d-view" class="heading-anchor" href="#changing-the-model-displayed-by-a-2d-view"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>Viewports always display one ViewState. If that ViewState happens to be a ViewState2d, we sometimes call that a &quot;2d view&quot;. Since ViewState2d shows one and only one 2d Model, it is sometimes is desireable to &quot;switch the Model&quot; of an existing 2d view, versus loading a new ViewState2d. This will sometimes
be appropriate if you <em>know</em> that a set of 2d Models use a common coordinate system and categories, etc.</p>
<p>The <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewport/changeviewedmodel2d'>Viewport.changeViewedModel2d</a> method can be used to accomplish this:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Change the displayed 2d Model of the selected view, if it is currently showing a 2d Model
   * @note the categories and displayStyle are unchanged. View is fitted to new model extents.
   */
  public static async change2dModel(newModelId: Id64String): Promise&lt;void&gt; {
    const vp = IModelApp.viewManager.selectedView;
    if (undefined !== vp)
      return vp.changeViewedModel2d(newModelId, { doFit: true });
  }</code></pre>
<h2 class="h-viewmanager">ViewManager<a id="viewmanager" class="heading-anchor" href="#viewmanager"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>The Viewport class is responsible for displaying a View, as defined by its ViewState. However, typically the objective of showing a View is to allow users
to modify the View itself, or to interact with its contents.</p>
<p>To facilitate that, you need to connect the event system of the browser with Viewports via <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelapp/imodelapp/#viewmanager'>IModelApp.viewManager</a>.</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Open a Viewport on the supplied div element. */
  public static async openView(viewDiv: HTMLDivElement) {
    const viewState = await this.loadOneView();
    const viewPort = ScreenViewport.create(viewDiv, viewState);
    IModelApp.viewManager.addViewport(viewPort);
  }</code></pre>
<p>After the viewport is added to the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager'>ViewManager</a>, all HTML events for its canvas are directed to the active <code>Tool</code> class by the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/tooladmin'>ToolAdmin</a>.</p>
<h3 class="h-the-selected-view">The &quot;Selected&quot; View<a id="the-selected-view" class="heading-anchor" href="#the-selected-view"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h3>
<p>It is sometimes necessary to chose a Viewport from inside code that reacts to user input. Absent some other way of determining which Viewport to use, iModel.js applications often default to <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager/#selectedview'>ViewManager.selectedView</a>. This will be the last <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/screenviewport'>ScreenViewport</a> in which the user clicked. <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager/#selectedview'>ViewManager.selectedView</a> is often the target Viewport for <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/'>Tools</a>.</p>
<blockquote>
<p>Note: If there is only one Viewport visible, that Viewport will always be the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager/#selectedview'>ViewManager.selectedView</a>. If there are no Viewports visible, <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager/#selectedview'>ViewManager.selectedView</a> can be undefined.</p>
</blockquote>
<h2 class="h-viewing-tools">Viewing Tools<a id="viewing-tools" class="heading-anchor" href="#viewing-tools"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>The iModel.js library supplies controls that allow users to modify what is shown in Views via the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/viewtool'>ViewTool</a> classes. You can create instances of the
supplied classes (e.g. <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/windowareatool'>WindowAreaTool</a>, <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/fitviewtool'>FitViewTool</a>, <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/walkviewtool'>WalkViewTool</a>, <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/rotateviewtool'>RotateViewTool</a>, etc.) or create your own subclasses for
special viewing operations.</p>
<h2 class="h-view-decorators">View Decorators<a id="view-decorators" class="heading-anchor" href="#view-decorators"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>The Viewport class is responsible for displaying the <em>persistent</em> data (e.g. Models, reality data, maps, etc.) in your view. Often, however, Tools wish to show
additional, non-persistent, information to convey context or call attention to items or areas of interest. That is accomplished via <a href='https://imodeljs.github.io/iModelJs-docs-output//./learning/frontend/viewdecorations'>View Decorators</a></p>
<h2 class="h-displaystyles">DisplayStyles<a id="displaystyles" class="heading-anchor" href="#displaystyles"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>DisplayStyles describe the <em>styling</em> that should be applied to the contents of a View.</p>
<p>This includes the :</p>
<ul>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/rendering/viewflags'>ViewFlags</a></li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/views/subcategoryappearance'>SubCategoryAppearance</a> visibility and overrides</li>
<li>Background color</li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/rendering/rendermode'>RenderMode</a></li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/environment'>Environment</a></li>
<li>Other view-specific parameters</li>
</ul>
<p>They are loaded in memory in the frontend with the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/displaystylestate'>DisplayStyleState</a> class.</p>
<p>DisplayStyles can be named and shared among many ViewDefinitions.</p>
<h2 class="h-modelselectors">ModelSelectors<a id="modelselectors" class="heading-anchor" href="#modelselectors"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>ModelSelectors apply only to SpatialViews. They determine the set of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/models/spatialmodel'>SpatialModel</a>s that are displayed. The Geometry for elements in SpatialModels are always
stored in the iModel&apos;s Spatial Coordinate System. They are loaded in memory in the frontend with the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/modelselectorstate'>ModelSelectorState</a> class.</p>
<p>Since each 2d Model has its own coordinate system, 2d Views always only show a single Model and therefore don&apos;t use ModelSelectors.</p>
<p>ModelSelectors can be named and shared among many ViewDefinitions.</p>
<h2 class="h-categoryselectors">CategorySelectors<a id="categoryselectors" class="heading-anchor" href="#categoryselectors"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>A <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/categoryselectorstate'>CategorySelectorState</a> determines the set of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/categories/category'>Category</a> that are displayed in a View. They are loaded in memory in the frontend with the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/categoryselectorstate'>CategorySelectorState</a> class.</p>
<p>CategorySelectors can be named and shared among many ViewDefinitions.</p>
<h2 class="h-auxiliary-coordinate-systems">Auxiliary Coordinate Systems<a id="auxiliary-coordinate-systems" class="heading-anchor" href="#auxiliary-coordinate-systems"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>Views may reference an <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/auxcoordsystemstate'>AuxCoordSystemState</a> to display coordinate data and distances in different units and orientations.</p>
<p>Auxiliary Coordinate Systems can be named and shared among many ViewDefinitions.</p>
<h2 class="h-reality-data">Reality Data<a id="reality-data" class="heading-anchor" href="#reality-data"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>Reality Data (e.g. <a href="https://www.bentley.com/en/products/brands/contextcapture" target="_blank">ContextCapture</a> models, Point Cloud models, Maps, etc.) are stored external to iModels, and are accessed via Reality Data Servers. However, in an iModel
you can create <code>RealityDataModel</code>s that hold the URL of the Reality Data.</p>
<p>These models are subclasses of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/models/spatialmodel'>SpatialModel</a>, and can therefore be included in a <code>ModelSelector</code> and can easily be made visible in any SpatialView.</p>
<h2 class="h-view-thumbnails">View Thumbnails<a id="view-thumbnails" class="heading-anchor" href="#view-thumbnails"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p>Every view may have a thumbnail that shows an approximation of what it contains. This can be helpful for user interfaces that offer a choice of Views.</p>
<h2 class="h-viewstate-parameters">ViewState Parameters<a id="viewstate-parameters" class="heading-anchor" href="#viewstate-parameters"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h2>
<p> This is what the parameters to the camera methods, and the values stored by <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/viewdefinitions/viewdefinition3d'>ViewDefinition3d</a> mean.</p>
<p><img src=".././ViewFrustum-D1.png" width="75%"></p>
<p><strong></strong></p><center><strong>View Frustum - top view</strong></center><p></p>
<p><img src=".././ViewFrustum-D2.png" width="75%"></p>
<p><strong></strong></p><center><strong>View Frustum -  3D view</strong></center><p></p>
<p><img src=".././ViewFrustum-D3.png" width="75%"></p>
<p><strong></strong></p><center><strong>View Frustum NPC Corners</strong></center><p></p>
<h3 class="h-notes">Notes<a id="notes" class="heading-anchor" href="#notes"><span><i class="fa fa-link fa-rotate-90"></i></span></a></h3>
<ul>
<li><p>The view origin is in world coordinates. It is the point at the lower left of the rectangle at the focus plane, projected onto the back plane.</p>
</li>
<li><p><code>[delta.x,delta.y]</code> are on the focus plane and <code>delta.z</code> is from the back plane to the front plane.</p>
</li>
<li><p>The three view vectors come from:</p>
<pre class="no-line-numbers"><code class="language-bash">{vector from eyePoint-&gt;targetPoint} : -Z (positive view Z points towards negative world Z)
{the up vector}                     : +Y
{Z cross Y}                         : +X</code></pre>
<p>these three vectors form the rows of the view&apos;s <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/geometry-core/matrix3d/matrix3d'>Matrix3d</a></p>
</li>
<li><p>Objects in space in front of the front plane or behind the back plane are not displayed.</p>
</li>
<li><p>The focus plane is not necessarily centered between the front plane and back plane (though it often is.)
It should generally be between the front plane and the back plane.</p>
</li>
<li><p>targetPoint is not stored in the view parameters. Instead it may be derived from <code>{origin},{eyePoint},[Matrix3d]</code> and <code>focusDist</code>.</p>
</li>
<li><p>The ViewState holds the parameters: <code>{origin}{delta}[Matrix3d]</code> from which the View frustum is derived.</p>
</li>
<li><p>Cameras hold a &quot;lens angle&quot; value which is defines the field-of-view for the camera in radians.
The lens angle value is not used to compute the perspective transform for a view.
Instead, the lens angle value can be used to reposition <code>{eyePoint}</code> when the view volume or target changes.</p>
</li>
<li><p>View volumes where one dimension is very small or large relative to the other dimensions (e.g. &quot;long skinny telescope&quot; views, or &quot;wide and shallow slices&quot;, etc.) are problematic and disallowed based on ratio limits.</p>
</li>
</ul>

            <p class='last-updated'>Last Updated:
                <span class='date-updated'>20 September, 2019</span>
            </p>
            <div id="imodeljs-github-comments">
            </div>
            
            <script>
              $(document).ready(function () {
                function initializeComments(repo) {
                  var s = document.createElement('script');
                  s.src = "https://imodeljs.github.io/iModelJs-docs-output//scripts/utterances/client.js";
                  s.setAttribute('repo', repo);
                  s.setAttribute('issue-term', 'title');
                  s.setAttribute('crossorigin', 'anonymous');
                  s.setAttribute('theme', 'github-light');
                  s.async = true;
            
                  document.getElementById("imodeljs-github-comments").appendChild(s);
                }
            
                var shouldShow = ldclient.variation(featureFlags.GithubIssuesFeedback);
            
                // shouldShow is undefined when ldclient has not emitted 'ready'.
                if (shouldShow === undefined) {
                  ldclient.on('ready', function () {
                    var gitIssueFlag = ldclient.variation(featureFlags.GithubIssuesFeedback);
                    var gitRepo = ldclient.variation(featureFlags.GitRepo);
                    if (gitIssueFlag) {
                      initializeComments(gitRepo);
                    }
                  });
                }
                else if (shouldShow) {
                  var gitRepo = ldclient.variation(featureFlags.GitRepo);
                  initializeComments(gitRepo);
                }
              });
            </script>
            
            <script type="text/javascript">
            
            </script>        </article>
    </div>
    <div class="toc-overlay"></div>
    <div id='inner-table-of-contents'>
       <!-- <div id='sticky-container' style="top: 76px; position: fixed;">
  <h4 class='heading'>On this page</h4>
    <div id="overview-container" class="clusterize-scroll">
      <ul id='nav' class='right-nav nav flex-column clusterize-content'>
              <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#viewdefinition-elements">ViewDefinition Elements</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#the-viewstate-class">The ViewState Class</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#types-of-viewdefinitions">Types of ViewDefinitions</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#using-viewports">Using Viewports</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#loading-views-from-an-imodel">Loading Views from an iModel</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#changing-the-model-displayed-by-a-2d-view">Changing the Model displayed by a 2d view</a>
    </li>
       <li class='nav-item item '>
            <a data-target="#inner-nav-viewmanager" class='title' href="#viewmanager"/>
            <b class='dropdown-menu-title menu-text'>ViewManager</b>
            <i class='nav-list-dropdown icon'></i>
            </a>
            <ul id="inner-nav-viewmanager" class='inner-nav'>
                    <li class='nav-item item '>
                            <a class='title solo-title menu-text' href="#the-selected-view">The "Selected" View</a>
                    </li>
            </ul>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#viewing-tools">Viewing Tools</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#view-decorators">View Decorators</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#displaystyles">DisplayStyles</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#modelselectors">ModelSelectors</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#categoryselectors">CategorySelectors</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#auxiliary-coordinate-systems">Auxiliary Coordinate Systems</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#reality-data">Reality Data</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#view-thumbnails">View Thumbnails</a>
    </li>
       <li class='nav-item item '>
            <a data-target="#inner-nav-viewstate-parameters" class='title' href="#viewstate-parameters"/>
            <b class='dropdown-menu-title menu-text'>ViewState Parameters</b>
            <i class='nav-list-dropdown icon'></i>
            </a>
            <ul id="inner-nav-viewstate-parameters" class='inner-nav'>
                    <li class='nav-item item '>
                            <a class='title solo-title menu-text' href="#notes">Notes</a>
                    </li>
            </ul>
    </li>
 
      </ul>
    </div>
  </div>

 -->
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-1 pb-3">
  <!-- Footer Links Container -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row d-flex align-items-center mt-2">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8 align-top d-none d-md-block">

        <a href="https://imodeljs.github.io/iModelJs-docs-output//" class="navbar-brand">
          <img id="site-logo" class="site-logo" style="zoom:75%;"
            src="https://imodeljs.github.io/iModelJs-docs-output//landing-page/assets/imodeljs-logo.svg" />
        </a>
        <small style="color: white; margin-right: 7px;"> powered by </small>
        <a href="https://www.bentley.com">
          <img href="https://www.bentley.com" id="sponsored-by-logo" class="sponsored-by-logo"
            style="zoom:75%; width: 162px; height: 37px;"
            src="https://imodeljs.github.io/iModelJs-docs-output//landing-page/assets/bentley.svg" />
        </a>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/imodeljs" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://github.com/imodeljs" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://stackoverflow.com/tags/imodeljs"
                target="_blank">
                <i class="fa fa-stack-overflow"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links Container -->

</footer>
<!-- Footer -->

</div>
<a href="javascript:" id="return-to-top"><i class="icon icon-chevron-up"></i></a>
<script src="https://imodeljs.github.io/iModelJs-docs-output//scripts/bundle.js"></script>
</body>

</html>
<script src="https://imodeljs.github.io/iModelJs-docs-output//scripts/monaco-editor/min/vs/loader.js"></script>
<script src="https://imodeljs.github.io/iModelJs-docs-output//scripts/ts-playground.js"></script>
