<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Using Views in iModelJs - iModelJs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://imodeljs.github.io/iModelJs-docs-output//styles/bundle.css">
    <link rel="stylesheet" type="text/css" href="https://imodeljs.github.io/iModelJs-docs-output//styles/prism.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
        <link rel='shortcut icon' type='image/x-icon' href='https://imodeljs.github.io/iModelJs-docs-output//overview/imodeljs.ico' /> 
</head>

<body data-site-root=https://imodeljs.github.io/iModelJs-docs-output// class='layout-index '>
    <span id="contentLoader">
        <p>Woah! This page has a great deal of content... Give us a second to load it.</p>
    </span>
    <span id="contentLoaderBackground"></span>
    <div id="flex-wrapper">
        <header id="main-header">
            <div class='row nav-container'>
                <nav id='main-navbar' class="navbar navbar-expand-md navbar-light">
                    
                    <button class="navbar-toggler navbar-toggler-left custom-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class='icon icon-menu'></i>
                        </span>
                    </button>
                    <div class="nav-title-container">
                        <a class="navbar-brand " href="https://imodeljs.github.io/iModelJs-docs-output//" class="col-md-3">
                            <img id="site-logo" class="site-logo" src="https://imodeljs.github.io/iModelJs-docs-output//overview/imodeljs.ico" />
                            <h1 id="site-title">iModelJs</h1>
                        </a>
                    </div>
                    <div id='header-tabs' class='col-sm-6 col-md-3 nav-tabs-container'>
                        <nav class="navbar navbar-expand-md navbar-light">
                             <ul class="bwc-tabs-horizontal green"><li class=""><a href="https://imodeljs.github.io/iModelJs-docs-output//overview">Overview</a></li><li class=""><a href="https://imodeljs.github.io/iModelJs-docs-output//getting-started">Getting Started</a></li><li class=""><a href="https://imodeljs.github.io/iModelJs-docs-output//bis">BIS</a></li><li class="active"><a href="https://imodeljs.github.io/iModelJs-docs-output//learning">Learning</a></li><li class=""><a href="https://imodeljs.github.io/iModelJs-docs-output//reference">API Reference</a></li></ul> 
                        </nav>
                    </div>            </nav>
        </div>
        </header>
        

<div id='main-wrapper'>
    <div id='table-of-contents'>
        <span class='search-bar'>
          <li>
            <div id='search-container'>
            </div>
          </li>
          <script>
            (function() {
              var cx = '000629069474334212860:yxwzhn4umym';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
          <gcse:searchresults-only gname="sitesearch" resultSetSize="7"></gcse:search>
        </span>
        
        <ul id='main-navigation-list'>
            <html><head></head><body><h3 id="the imodeljs library"><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/" class="table-of-contents-link">The iModelJs Library</a></h3>
        <ul>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/frontend/" class="table-of-contents-link">Frontend</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/backend/" class="table-of-contents-link">Backend</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/common/" class="table-of-contents-link">Common</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/geometry/" class="table-of-contents-link">Geometry</a></li>
        </ul>
        <hr>
        <p>&#xA0;</p>
        <h3 id="helpful links">Helpful links</h3>
        <ul>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/ecsql" class="table-of-contents-link">ECSQL</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/wireformat" class="table-of-contents-link">Wire Format</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/faq" class="table-of-contents-link">Frequently asked Questions</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/guidelines/" class="table-of-contents-link">Guidelines and Tips</a></li>
        <li><a href="https://imodeljs.github.io/iModelJs-docs-output//./learning/glossary" class="table-of-contents-link">iModelJs Glossary</a></li>
        </ul>
        </body></html>
        </ul>    </div>
    <div class='row documentation-main'>
        <article id="main" name="main-content">
            <div class='bread-crumb-label'><a href="https://imodeljs.github.io/iModelJs-docs-output//learning/">learning</a> > <a href="https://imodeljs.github.io/iModelJs-docs-output//learning/frontend/">frontend</a> > Views</div>
            <div class="edit-link"><span title="Page edit feature coming soon">Edit this page</span></div>
            <h1 id="using views in imodeljs">Using Views in iModelJs</h1>
<p>A <em>View</em> renders geometry from one or more <a href='https://imodeljs.github.io/iModelJs-docs-output//./bis/intro/model-fundamentals'>Models</a> of an iModel in a web browser. iModelJs applications
can embed and interact with Views anywhere on a web page via an <code>HTMLCanvas</code> element.</p>
<p>Multiple Views may be simultaneously visible on the same web page, and are coordinated via the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager'>ViewManager</a> class.</p>
<h2 class="h-viewdefinition-elements"><a id="viewdefinition-elements" class="heading-anchor" href="#%s"></a>ViewDefinition Elements</h2>
<p>A <em>View</em> is saved in an iModel as an element of the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/viewdefinitions/viewdefinition'>ViewDefinition</a> class. ViewDefinitions hold all the information necessary to show the same content across sessions.
This includes the camera position, the model(s) displayed, the CategorySelector, the DisplayStyle to use, plus any additional view-specific settings.</p>
<h2 class="h-the-viewstate-class"><a id="the-viewstate-class" class="heading-anchor" href="#%s"></a>The ViewState Class</h2>
<p>The <code>ViewDefinition</code> classes (in fact all <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/elements/element'>Element</a> classes) exist only on the backend, because their purpose is to read and write those elements to/from the iModel.
On the frontend, access to the elements needed to display views is provided by the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/elementstate/elementstate'>ElementState</a> classes. The ElementState classes only hold the <em>state</em> of elements, not
the methods to read and write elements from the database.</p>
<p>Views are opened by loading a ViewDefinition into a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewstate'>ViewState</a> object. They begin showing the content as it was saved in the iModel, but users may
modify what they&apos;re seeing using <a href="#viewing-tools">Viewing tools</a>. These changes are only temporary (in-memory) unless they are saved back to the iModel
via <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/imodels/imodeldb.elements/updateelement'>IModelDb.Elements.updateElement</a>.</p>
<p>An instance of a <code>ViewState</code> in memory holds references to several other objects, including a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/categoryselectorstate'>CategorySelectorState</a>, a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/displaystyle3dstate'>DisplayStyle3dState</a>,
and a <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/modelselectorstate'>ModelSelectorState</a> (for <code>SpatialViews</code>). Since each of these objects must be loaded in the frontend asynchronously, there is an
async method called <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelconnection/imodelconnection.views/#load'>IModelConnection.Views.load</a> that returns a promise when the <code>ViewState</code> and all other State objects required to display a
View are ready. The <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewport'>Viewport</a> class expects loaded ViewState objects.</p>
<h2 class="h-types-of-viewdefinitions"><a id="types-of-viewdefinitions" class="heading-anchor" href="#%s"></a>Types of ViewDefinitions</h2>
<p>There are subclasses of <code>ViewDefinition</code> to show different types of Models in various ways.</p>
<p>Here are several significant subclasses:</p>
<ul>
<li><code>ViewDefinition</code><ul>
<li><code>SpatialViewDefinition</code> - shows a view of one or more 3d SpatialModels</li>
<li><code>DrawingViewDefinition</code> - shows a view of a single 2d DrawingModel</li>
<li><code>SheetViewDefinition</code> - shows a view of a single 2d SheetModel</li>
</ul>
</li>
</ul>
<p>For each subclass of <code>xxxViewDefinition</code>, there is a corresponding <code>xxxViewState</code> class in the frontend.</p>
<h2 class="h-loading-views-from-an-imodel"><a id="loading-views-from-an-imodel" class="heading-anchor" href="#%s"></a>Loading Views from an iModel</h2>
<p>There is a method called <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelconnection/imodelconnection.views/getviewlist'>IModelConnection.Views.getViewList</a> that returns an array of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelconnection/imodelconnection.viewspec'>IModelConnection.ViewSpec</a>s in a convenient
format for User Interfaces. This can be used to present a list of possible views by name in a List.</p>
<p>For example:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Get the list of Spatial views from the robot iModel. */
  public static async getSpatialViews(): Promise&lt;IModelConnection.ViewSpec[]&gt; {
    return this._robotIModel.views.getViewList({ from: SpatialViewState.sqlName });
  }</code></pre>
<p>Once a view is selected from the list, it may be loaded with:</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Stub for a real UI that would present the user with the list and choose one entry */
  public static async pickView(views: IModelConnection.ViewSpec[]): Promise&lt;string&gt; {
    // ...real ui code here showing view[].name list, returning chosenView...
    const chosenView = 0;

    // return the id of the chosen view
    return views[chosenView].id;
  }

  /** Load the list of spatial views from our iModel, let the user pick one, and return a Promise for the ViewState of the selected view. */
  public static async loadOneView(): Promise&lt;ViewState&gt; {
    // first get the list of spatial views
    const views: IModelConnection.ViewSpec[] = await this.getSpatialViews();

    // ask the user to pick one from the list, returning its Id
    const viewId: string = await this.pickView(views);

    // return a promise for the ViewState of the selected view. Note that caller will have to await this method
    return this._robotIModel.views.load(viewId);
  }</code></pre>
<blockquote>
<p>Note that in the examples above, <code>getSpatialViews</code> and <code>loadOneView</code> are <code>async</code>, and you must <code>await</code> them.</p>
</blockquote>
<h2 class="h-using-viewports"><a id="using-viewports" class="heading-anchor" href="#%s"></a>Using Viewports</h2>
<p><code>ViewState</code> objects hold the state of a <code>ViewDefinition</code> (<em>what</em> is shown in a View) in the frontend.</p>
<p>To connect a ViewState to a rectangular region on a web page, you create instances of the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewport'>Viewport</a> class. The constructor of Viewport takes an <code>HTMLCanvasElement</code> and a
(fully loaded) ViewState. In this manner, Viewports form the connection between a rectangular region on your web page and a set of
Element and Models in the iModel, a display <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/views/frustum'>Frustum</a>, a DisplayStyle, and the iModelJs rendering system.</p>
<blockquote>
<p>Note: before creating a Viewport, be sure to call <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelapp/imodelapp/startup'>IModelApp.startup</a>.</p>
</blockquote>
<h2 class="h-viewmanager"><a id="viewmanager" class="heading-anchor" href="#%s"></a>ViewManager</h2>
<p>The Viewport class is responsible for displaying a View, as defined by its ViewState. However, typically the objective of showing a View is to allow users
to modify the View itself, or to interact with its contents.</p>
<p>To facilitate that, we need to connect the event system of the browser with Viewports via <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/imodelapp/imodelapp/#viewmanager'>IModelApp.viewManager</a>.</p>
<pre class="no-line-numbers"><code class="language-typescript">  /** Open a Viewport on the supplied div element. */
  public static async openView(viewDiv: HTMLDivElement) {
    const viewState = await this.loadOneView();
    const viewPort = ScreenViewport.create(viewDiv, viewState);
    this.viewManager.addViewport(viewPort);
  }</code></pre>
<p>After the viewport is added to the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/viewmanager'>ViewManager</a>, all HTML events for its canvas are directed to the active <code>Tool</code> class by the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/tooladmin'>ToolAdmin</a>.</p>
<p>If there is more than one Viewport visible, the ViewManager keeps track of the <em>Selected Viewport</em> and treats it specially.</p>
<h2 class="h-viewing-tools"><a id="viewing-tools" class="heading-anchor" href="#%s"></a>Viewing Tools</h2>
<p>The iModelJs library supplies controls that allow users to modify what is shown in Views via the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/viewtool'>ViewTool</a> classes. You can create instances of the
supplied classes (e.g. <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/windowareatool'>WindowAreaTool</a>, <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/tools/fitviewtool'>FitViewTool</a>, ViewWalkTool, RotateTool, etc.) or create your own subclasses for
special viewing operations.</p>
<h2 class="h-displaystyles"><a id="displaystyles" class="heading-anchor" href="#%s"></a>DisplayStyles</h2>
<p>DisplayStyles describe the <em>styling</em> that should be applied to the contents of a View.</p>
<p>This includes the :</p>
<ul>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/rendering/viewflags'>ViewFlags</a></li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/views/subcategoryappearance'>SubCategoryAppearance</a> visibility and overrides</li>
<li>Background color</li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/rendering/rendermode'>RenderMode</a></li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/environment'>Environment</a></li>
<li><a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-common/views/light'>Light</a>s</li>
<li>Other view-specific parameters</li>
</ul>
<p>They are loaded in memory in the frontend with the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/displaystylestate'>DisplayStyleState</a> class.</p>
<p>DisplayStyles can be named and shared among many ViewDefinitions.</p>
<h2 class="h-modelselectors"><a id="modelselectors" class="heading-anchor" href="#%s"></a>ModelSelectors</h2>
<p>ModelSelectors apply only to SpatialViews. They determine the set of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/models/spatialmodel'>SpatialModel</a>s that are displayed. The Geometry for elements in SpatialModels are always
stored in the iModel&apos;s Spatial Coordinate System. They are loaded in memory in the frontend with the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/modelselectorstate'>ModelSelectorState</a> class.</p>
<p>Since each 2d Model has its own coordinate system, 2d Views always only show a single Model and therefore don&apos;t use ModelSelectors.</p>
<p>ModelSelectors can be named and shared among many ViewDefinitions.</p>
<h2 class="h-categoryselectors"><a id="categoryselectors" class="heading-anchor" href="#%s"></a>CategorySelectors</h2>
<p>A <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/categoryselectorstate'>CategorySelectorState</a> determines the set of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/categories/category'>Category</a> that are displayed in a View. They are loaded in memory in the frontend with the <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/categoryselectorstate'>CategorySelectorState</a> class.</p>
<p>CategorySelectors can be named and shared among many ViewDefinitions.</p>
<h2 class="h-auxiliary-coordinate-systems"><a id="auxiliary-coordinate-systems" class="heading-anchor" href="#%s"></a>Auxiliary Coordinate Systems</h2>
<p>Views may reference an <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-frontend/views/auxcoordsystemstate'>AuxCoordSystemState</a> to display coordinate data and distances in different units and orientations.</p>
<p>Auxiliary Coordinate Systems can be named and shared among many ViewDefinitions.</p>
<h2 class="h-reality-data"><a id="reality-data" class="heading-anchor" href="#%s"></a>Reality Data</h2>
<p>Reality Data (e.g. <a href="https://www.bentley.com/en/products/brands/contextcapture">ContextCapture</a> models, Point Cloud models, Maps, etc.) are stored external to iModels, and are accessed via Reality Data Servers. However, in an iModel
you can create <code>RealityDataModel</code>s that hold the URL of the Reality Data.</p>
<p>These models are subclasses of <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/models/spatialmodel'>SpatialModel</a>, and can therefore be included in a <code>ModelSelector</code> and can easily be made visible in any SpatialView.</p>
<h2 class="h-view-thumbnails"><a id="view-thumbnails" class="heading-anchor" href="#%s"></a>View Thumbnails</h2>
<p>Every view may have a thumbnail that shows an approximation of what it contains. This can be helpful for user interfaces that offer a choice of Views.</p>
<h2 class="h-viewstate-parameters"><a id="viewstate-parameters" class="heading-anchor" href="#%s"></a>ViewState Parameters</h2>
<p> This is what the parameters to the camera methods, and the values stored by <a href='https://imodeljs.github.io/iModelJs-docs-output//./reference/imodeljs-backend/viewdefinitions/viewdefinition3d'>ViewDefinition3d</a> mean.</p>
<pre class="no-line-numbers"><code class="language-bash">                 v-- {origin}
            -----+-------------------------------------- -   [back plane]
            ^\   .                                    /  ^
            | \  .                                   /   |        P
          d |  \ .                                  /    |        o
          e |   \.         {targetPoint}           /     |        s
          l |    |---------------+----------------|      |        i    [focus plane]
          t |     \  ^delta.x    ^               /     b |        t
          a |      \             |              /      a |        i
          . |       \            |             /       c |        v
          z |        \           | f          /        k |        e
            |         \          | o         /         D |        Z
            |          \         | c        /          i |        |
            |           \        | u       /           s |        v
            v            \       | s      /            t |
            -     -       -----  | D -----               |   [front plane]
                  ^              | i                     |
                  |              | s                     |
      frontDist -&gt;|              | t                     |
                  |              |                       |
                  v           \  v  / &lt;- lens angle      v
                  -              + {eyePoint}            -     positiveX -&gt;</code></pre>
<h3 class="h-notes"><a id="notes" class="heading-anchor" href="#%s"></a>Notes</h3>
<ul>
<li><p>Up vector (positiveY) points out of the screen towards you in this diagram. Likewise delta.y.</p>
</li>
<li><p>The view origin is in world coordinates. It is the point at the lower left of the rectangle at the focus plane, projected onto the back plane.</p>
</li>
<li><p><code>[delta.x,delta.y]</code> are on the focus plane and <code>delta.z</code> is from the back plane to the front plane.</p>
</li>
<li><p>The three view vectors come from:</p>
<pre class="no-line-numbers"><code class="language-bash">{vector from eyePoint-&gt;targetPoint} : -Z (positive view Z points towards negative world Z)
{the up vector}                     : +Y
{Z cross Y}                         : +X</code></pre>
<p>these three vectors form the rows of the view&apos;s RotMatrix</p>
</li>
<li><p>Objects in space in front of the front plane or behind the back plane are not displayed.</p>
</li>
<li><p>The focus plane is not necessarily centered between the front plane and back plane (though it often is).
It should generally be between the front plane and the back plane.</p>
</li>
<li><p>targetPoint is not stored in the view parameters. Instead it may be derived from <code>{origin},{eyePoint},[RotMatrix]</code> and <code>focusDist</code>.</p>
</li>
<li><p>The view volume is completely specified by: <code>{origin}&lt;delta&gt;[RotMatrix]</code></p>
</li>
<li><p>Perspective is determined by <code>{eyePoint}</code>, which is independent of the view volume. Sometimes the eyepoint is not
on the rectangle on the focus plane (that is, a vector from the eyepoint along the viewZ does not hit the view
center.) This creates a 1-point perspective, which can be disconcerting. It is usually best to keep the camera centered.</p>
</li>
<li><p>Cameras hold a &quot;lens angle&quot; value which is defines the field-of-view for the camera in radians.
The lens angle value is not used to compute the perspective transform for a view.
Instead, the lens angle value can be used to reposition <code>{eyePoint}</code> when the view volume or target changes.</p>
</li>
<li><p>View volumes where one dimension is very small or large relative to the other dimensions (e.g. &quot;long skinny telescope&quot;
views, or &quot;wide and shallow slices&quot;, etc.) are problematic and disallowed based on ratio limits.</p>
</li>
</ul>

            <p class='last-updated'>Last Updated:
                <span class='date-updated'>05 September, 2018 @ 12:09:02 am +00:00</span>
            </p>

            
            <script type="text/javascript">
            
            </script>        </article>
    </div>
    <div id='inner-table-of-contents'>
       <!--  <div id='sticky-container' style="top: 76px; position: fixed;">
  <h4 class='heading'>On this page</h4>
    <div id="overview-container" class="clusterize-scroll">
      <ul id='nav' class='right-nav nav flex-column clusterize-content'>
              <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#viewdefinition-elements">ViewDefinition Elements</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#the-viewstate-class">The ViewState Class</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#types-of-viewdefinitions">Types of ViewDefinitions</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#loading-views-from-an-imodel">Loading Views from an iModel</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#using-viewports">Using Viewports</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#viewmanager">ViewManager</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#viewing-tools">Viewing Tools</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#displaystyles">DisplayStyles</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#modelselectors">ModelSelectors</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#categoryselectors">CategorySelectors</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#auxiliary-coordinate-systems">Auxiliary Coordinate Systems</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#reality-data">Reality Data</a>
    </li>
       <li class='nav-item item '>
            <a class='title solo-title menu-text' href="#view-thumbnails">View Thumbnails</a>
    </li>
       <li class='nav-item item '>
            <a data-target="#inner-nav-viewstate-parameters" class='title' href="#viewstate-parameters"/>
            <b class='dropdown-menu-title menu-text'>ViewState Parameters</b>
            <i class='dropdown icon'></i>
            </a>
            <ul id="inner-nav-viewstate-parameters" class='inner-nav'>
                    <li class='nav-item item '>
                            <a class='title solo-title menu-text' href="#notes">Notes</a>
                    </li>
            </ul>
    </li>
 
      </ul>
    </div>
  </div>

 -->
    </div>
</div>


    <footer id='main-footer'>
        <div id='footer-content-container'>
           <div class='footer-footer'>
               <p>Copyright 2018 Bentley Systems, Incorporated</p>
            </div>
        </div>
    </footer>
</div>
    <a href="javascript:" id="return-to-top"><i class="icon icon-chevron-up"></i></a>
    <script src="https://imodeljs.github.io/iModelJs-docs-output//scripts/bundle.js" ></script>
</body>

</html><script src="https://imodeljs.github.io/iModelJs-docs-output//scripts/monaco-editor/min/vs/loader.js"></script>
<script src="https://imodeljs.github.io/iModelJs-docs-output//scripts/ts-playground.js"></script>
